Wpf_ImageViewControl/Wpf_ImageViewControl/bin/
Wpf_ImageViewControl/Wpf_ImageViewControl/obj/
Wpf_ImageViewControl/.vs/Wpf_ImageViewControl/v15/Server/sqlite3/db.lock
Wpf_ImageViewControl/.vs/Wpf_ImageViewControl/v15/Server/sqlite3/storage.ide
Wpf_ImageViewControl/.vs/Wpf_ImageViewControl/v15/
